/node_modules
/public/hot
/public/storage
/public/apps
/storage/*.key
/public/js
/public/css
/public/img
/public/images
/public/fonts
/public/vendor
/postgres-data
/public/mix-manifest.json

/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
